<template>
    <app-layout title="Add a Domain">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Add a Domain
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <section-title>
                    <template #title>
                        Add a new domain
                    </template>
                </section-title>
            </div>
        </div>

        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 bg-white rounded-xl p-6 shadow-md">
            <Link :href="route('my-domains.index')" class="mx-0 inline-flex items-center text-center px-6 py-2 border border-gray-300 text-xs uppercase shadow-sm font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                </svg> 
                <span class="ml-2">Back to my domains</span>
            </Link>
            <form @submit.prevent="saveDomain()">
                <div class="col-span-6 sm:col-span-4 mt-4">
                    <jet-label for="name" value="Domain Name"/>
                    <jet-input :readonly="mode=='edit'" id="name" type="text" class="mt-1 block w-full" v-model="form.name" ref="name" placeholder="example.com" />
                    <jet-input-error :message="form.errors.name" class="mt-2" />
                </div> 
                <div class="col-span-6 sm:col-span-4 mt-4">
                    <button class="px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-blue-700 rounded shadow-sm ripple hover:shadow-lg hover:bg-blue-800 focus:outline-none">Add Domain</button>
                </div>
            </form>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout.vue'
    import SectionTitle from '@/Jetstream/SectionTitle.vue'
    import SectionBorder from '@/Jetstream/SectionBorder.vue'
    import { Link } from '@inertiajs/inertia-vue3';
    import JetButton from '@/Jetstream/Button'
    import JetSecondaryButton from '@/Jetstream/SecondaryButton'
    import JetInput from '@/Jetstream/Input'
    import JetCheckbox from '@/Jetstream/Checkbox'
    import JetInputError from '@/Jetstream/InputError'
    import JetLabel from '@/Jetstream/Label'
    import JetFormSection from '@/Jetstream/FormSection'
    import InformationBox from '@/Components/InformationBox';

    export default {
        components: {
            AppLayout,
            SectionTitle,
            InformationBox,
            Link,
            SectionBorder,
            JetSecondaryButton,
            JetFormSection,
            JetButton,
            JetInput,
            JetInputError,
            JetLabel,
            JetCheckbox,
        },
        props: ['domain', 'healthcheck'],
        data()
        {
            return {
                form: this.$inertia.form({
                        name: '',
                    },
                    {
                        resetOnSuccess: false
                    }
                ),
            }
        },
        methods: {
            saveDomain()
            {
                this.form.post(route('my-domains.store'), {
                    preserveScroll: true,
                });
            },
            focusField()
            {
                this.$refs.name.focus();
            }

        }
    }
</script>
