<template>
    <app-layout title="My Domains">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                My Domains
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <section-title>
                    <template #title>
                        My Domins List
                    </template>
                    <template #description>
                        We are currently monitoring <strong>{{this.domains.total}}</strong> domains.
                    </template>
                    <template #aside>
                        <Link as="button" class="block w-full px-6 py-2 text-sm font-medium leading-6 text-center text-white uppercase transition bg-blue-700 rounded shadow ripple hover:shadow-lg hover:bg-blue-800 focus:outline-none" :href="'/my-domains/create'">
                            <svg class="w-5 h-5 inline" fill="none" stroke="currentColor" viewBox="0 0 27 27" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 14v6m-3-3h6M6 10h2a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2zm10 0h2a2 2 0 002-2V6a2 2 0 00-2-2h-2a2 2 0 00-2 2v2a2 2 0 002 2zM6 20h2a2 2 0 002-2v-2a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2z"></path></svg> Add
                        </Link>
                    </template>
                </section-title>
                <!-- Table start -->
                    <div class="flex flex-col py-8">
                        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                    <table class="min-w-full divide-y divide-gray-200">
                                        <thead class="bg-gray-50">
                                            <tr>
                                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                    Domain Name
                                                </th>
                                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                    Domain Expires At
                                                </th>
                                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                    Certificate Expires At
                                                </th>
                                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                    Response Time
                                                </th>
                                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                    Actions
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="bg-white divide-y divide-gray-200">
                                            <tr class="hover:bg-gray-100" v-for="domain in domains.data" :key="domain.id">
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    <div class="flex items-center">
                                                        <div class="flex-shrink-0 h-7 w-7">
                                                            <!-- Favicon -->
                                                            <img class="h-7 w-7" :src="domain.favicon" alt="" v-if="domain.favicon">
                                                        </div>
                                                        <div class="ml-4 text-sm">
                                                            {{domain.name}}
                                                            <svg xmlns="http://www.w3.org/2000/svg"  class="inline h-6 w-6 text-green-600" viewBox="0 0 24 24" fill="currentColor" v-if="domain.verified">
                                                                <path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    <span v-if="domain.whois">
                                                        <div class="text-sm font-medium text-gray-900">
                                                            <check-circle-icon v-if="greenDate(domain.whois.expires_at)" class="text-green-300 h-5 w-5 inline"></check-circle-icon> 
                                                            <exclamation-icon v-if="amberDate(domain.whois.expires_at)" class="text-yellow-400 h-5 w-5 inline"></exclamation-icon> 
                                                            <exclamation-circle-icon v-if="redDate(domain.whois.expires_at)" class="text-red-600 h-5 w-5 inline"></exclamation-circle-icon> 
                                                            {{dateFormat(domain.whois.expires_at)}}
                                                        </div>
                                                        <div class="text-sm text-gray-500 italic">
                                                            Registrar: {{domain.whois.registrar.name}}
                                                        </div>
                                                    </span>
                                                    <span v-if="!domain.whois && !domain.is_subdomain">
                                                        <lottie-animation path="lotties/lf20_P5f9ff.json" :height=50 :width=50></lottie-animation>
                                                    </span>
                                                    <span v-if="domain.is_subdomain">
                                                        <div class="text-sm text-gray-500 italic">
                                                            N/A
                                                        </div>
                                                    </span>
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    <span v-if="domain.certificate">
                                                        <div class="text-sm font-medium text-gray-900">
                                                            <span v-if="domain.certificate.expires_at">
                                                                <check-circle-icon v-if="greenDate(domain.certificate.expires_at)" class="text-green-300 h-5 w-5 inline"></check-circle-icon> 
                                                                <exclamation-icon v-if="amberDate(domain.certificate.expires_at)" class="text-yellow-400 h-5 w-5 inline"></exclamation-icon> 
                                                                <exclamation-circle-icon v-if="redDate(domain.certificate.expires_at)" class="text-red-600 h-5 w-5 inline"></exclamation-circle-icon> 
                                                                {{dateFormat(domain.certificate.expires_at)}}
                                                            </span>
                                                            <span v-else class="text-sm text-gray-500 italic">N/A</span>
                                                        </div>
                                                        <div class="text-sm text-gray-500 italic" v-if="domain.certificate.issuer">
                                                            Issuer: {{domain.certificate.issuer.name}}
                                                        </div>
                                                    </span>
                                                    <span v-if="!domain.certificate">
                                                        <lottie-animation path="lotties/lf20_P5f9ff.json" :height=50 :width=50></lottie-animation>
                                                    </span>
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    <span v-if="domain.average_response_time">
                                                        {{domain.latest_response_time}} ms (𝜇 {{domain.average_response_time}} ms)
                                                    </span>
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                                                    <Link as="button" class="inline text-gray-400 hover:text-green-600" :href="route('my-domains.alerts.index', domain.id)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                                                        </svg>
                                                    </Link>
                                                    <Link as="button" class="inline text-gray-400 hover:text-green-600" :href="route('my-domains.verify', domain.id)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24" fill="currentColor">
                                                            <path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                                        </svg>
                                                    </Link>
                                                    <button class="inline text-gray-400 hover:text-red-600" @click="deleteDomain(domain)">
                                                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- Table end -->
                <p class="text-sm text-gray-700 leading-5">
                    <Paginator :paginator="domains" />
                </p>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout.vue'
    import SectionTitle from '@/Jetstream/SectionTitle.vue'
    import SectionBorder from '@/Jetstream/SectionBorder.vue'
    import { Link } from '@inertiajs/inertia-vue3';
    import moment from 'moment';
    import { CheckCircleIcon, ExclamationCircleIcon, ExclamationIcon } from '@heroicons/vue/solid'
    import { Inertia } from '@inertiajs/inertia'
    import LottieAnimation from "lottie-vuejs/src/LottieAnimation.vue";
    import Paginator from '@/Components/Paginator';
    import axios from 'axios';
    import momentTimezone from 'moment-timezone';

    export default {
        components: {
            AppLayout,
            SectionTitle,
            LottieAnimation,
            Link,
            SectionBorder,
            CheckCircleIcon,
            ExclamationCircleIcon,
            ExclamationIcon,
            Paginator,
        },
        props: ['domains'],
        data()
        {
            return {
                timer: null
            };
        },
        mounted()
        {
            this.reloadIfRequired();

            Inertia.on('before', (event) => {
                if(this.timer)
                    clearTimeout(this.timer);
            });
        },
        methods: {
            configureAlerts(domain)
            {

            },
            deleteDomain(domain)
            {
                self = this;
                axios.delete(route('my-domains.destroy', domain.id))
                    .then((response) => {
                        self.refreshData();
                    });
            },
            refreshData()
            {
                self = this;
                Inertia.reload({
                    only: ['domains'], 
                    preserveScroll: true,
                    onFinish: () => {
                        if(self.domains.data.length === 0)
                        {
                            if(self.domains.last_page_url)
                                Inertia.visit(self.domains.last_page_url);
                        }
                    }
                });
            },
            reloadIfRequired()
            {
                self = this;    
                this.domains.data.forEach(function(domain) {
                    if( (!domain.certificate
                        || (!domain.whois && domain.is_registerable)
                        || !domain.favicon)
                        && !self.timer)
                    {
                        self.timer = setTimeout(() => {
                            self.timer = null;
                            Inertia.reload({
                                only: ['domains'],
                                onFinish: function() {
                                    self.reloadIfRequired();
                                }
                            })
                        }, 1000);
                        return;
                    }
                });
            },
            dateFormat(value, format = 'MMM DD, YYYY', current_format = 'YYYY-MM-DDTHH:mm:ssZ') 
            {
                if(!value)
                    return;
                
                return momentTimezone(value, current_format).tz(this.$attrs.user.timezone).format(format);
            },
            timeDiffFormat(value, current_format = 'YYYY-MM-DDTHH:mm:ssZ')
            {
                if(!value)
                    return;
                
                return momentTimezone().tz(this.$attrs.user.timezone).diff(moment(value, current_format), "hours");
            },
            greenDate(value, current_format = 'YYYY-MM-DDTHH:mm:ssZ')
            {
                return -1 * momentTimezone().tz(this.$attrs.user.timezone).diff(moment(value, current_format), "days") > 30
            },
            amberDate(value, current_format = 'YYYY-MM-DDTHH:mm:ssZ')
            {
                return -1 * momentTimezone().tz(this.$attrs.user.timezone).diff(moment(value, current_format), "days") < 30
                    && -1 * momentTimezone().tz(this.$attrs.user.timezone).diff(moment(value, current_format), "days") > 1;
            },
            redDate(value, current_format = 'YYYY-MM-DDTHH:mm:ssZ')
            {
                return -1 * momentTimezone().tz(this.$attrs.user.timezone).diff(moment(value, current_format), "days") <= 0;
            },
        }
    }
</script>
