<template>
    <app-layout :title="'Verify '+domain.name">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Verify {{domain.name}}
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <section-title>
                    <template #title>
                        <domain-title :domain=domain>Verification</domain-title>
                    </template>
                </section-title>
            </div>
        </div>

        <div class="max-w-7xl mb-5 mx-auto sm:px-6 lg:px-8 bg-white rounded-xl p-6 shadow-md">
            <Link :href="route('my-domains.index')" class="mx-0 inline-flex items-center text-center px-6 py-2 border border-gray-300 text-xs uppercase shadow-sm font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                </svg> 
                <span class="ml-2">Back to my domains</span>
            </Link>
            <form>
                <div class="col-span-6 sm:col-span-4 mt-4">
                    After verifying that {{domain.name}} belongs to you, you will be able to create alerts on custom ports on your server. This security check is in place to ensure the system isn't abused to hit ports it is not supposed to.
                </div>
                <div class="col-span-6 sm:col-span-4 mt-4">
                    To validate ownership for this domain, you will need access to add a <span class="font-code">TXT</span> record in your DNS manager. 
                </div>
                <span v-if="this.verification_key || this.domain.user_verification_key">
                    <div>
                        <p class="my-4">Please add the below record to your DNS:</p>
                        <information-box v-if="!this.domain.user_verification_key">The below verification code changes every hour until you confirm that you have added the below DNS record.</information-box>
                        <information-box v-else-if="!this.domain.verified">We will keep checking this record. It might take up to 72 hours for the verification to compelete due to DNS propogation times.</information-box>
                        <p class="my-4">
                            Current status: <span v-if="!this.domain.verified">Pending Verification</span>
                            <span v-else class="text-green-600 inline">
                                <svg xmlns="http://www.w3.org/2000/svg"  class="inline h-6 w-6" viewBox="0 0 24 24" fill="currentColor">
                                    <path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                </svg>
                                Verified
                            </span>
                        </p>
                        <div class="block bg-gray-200 space-y-4 grid-flow-col grid-cols-2 grid-rows-3 rounded px-4 py-2">
                            <div>
                                <div>Type:</div>
                                <div class="font-code">TXT</div>
                            </div>
                            <div>
                                <div>Hostname:</div>
                                <div class="font-code">{{domain.name}}</div>
                            </div>
                            <div>
                                <div>Value:</div>
                                <div class="font-code" v-if="this.domain.user_verification_key">domainspot-net-verification={{this.domain.user_verification_key}}</div>
                                <div class="font-code" v-else>domainspot-net-verification={{this.verification_key}}</div>
                            </div>
                        </div>
                    </div>
                    <p class="my-4" v-if="!this.domain.user_verification_key">Once you have added the above record, click the below button.</p>
                    <div class="col-span-6 sm:col-span-4 mt-4" v-if="!this.domain.user_verification_key">
                        <button @click.prevent="this.confirmKey()" class="px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-blue-700 rounded shadow-sm ripple hover:shadow-lg hover:bg-blue-800 focus:outline-none">I have updated the DNS records</button>
                    </div>
                </span>
                <div v-else class="col-span-6 sm:col-span-4 mt-4">
                    <button @click.prevent="this.generateVerificationKey()" class="px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-blue-700 rounded shadow-sm ripple hover:shadow-lg hover:bg-blue-800 focus:outline-none">Confirm domain ownership</button>
                </div>
            </form>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout.vue'
    import SectionTitle from '@/Jetstream/SectionTitle.vue'
    import SectionBorder from '@/Jetstream/SectionBorder.vue'
    import { Link } from '@inertiajs/inertia-vue3';
    import JetButton from '@/Jetstream/Button'
    import { Inertia } from '@inertiajs/inertia'
    import JetSecondaryButton from '@/Jetstream/SecondaryButton'
    import JetInput from '@/Jetstream/Input'
    import JetCheckbox from '@/Jetstream/Checkbox'
    import JetInputError from '@/Jetstream/InputError'
    import JetLabel from '@/Jetstream/Label'
    import JetFormSection from '@/Jetstream/FormSection'
    import InformationBox from '@/Components/InformationBox';
    import DomainTitle from '@/Components/DomainTitle';

    export default {
        components: {
            AppLayout,
            DomainTitle,
            SectionTitle,
            Link,
            SectionBorder,
            InformationBox,
            JetSecondaryButton,
            JetFormSection,
            JetButton,
            JetInput,
            JetInputError,
            JetLabel,
            JetCheckbox,
        },
        props: ['domain', 'verification_key'],
        data()
        {
            return {
                verification_key: null,
            }
        },
        methods: {
            generateVerificationKey()
            {
                axios.get(route("my-domains.verifyStart", [this.domain.id]))
                    .then((response) => {
                        this.verification_key = response.data;
                    });
            },
            
            confirmKey()
            {
                axios.post(route("my-domains.verifyConfirm", [this.domain.id]))
                    .then((response) => {
                        Inertia.reload({
                            only: ['domain'], 
                            preserveScroll: true,
                        });
                    });
            }
        }
    }
</script>
