<template>
<main class="font-medium text-gray-700 bg-white">
    <Head title="Welcome" />
  <!-- header block -->
  <header class="flex justify-between max-w-screen-xl px-6 py-4 mx-auto lg:px-8 xl:px-4 lg:py-6">
    
    <a href="/"><jet-application-mark></jet-application-mark></a>
    <nav v-if="canLogin" class="flex items-center space-x-4">
        <Link v-if="$page.props.user" :href="route('my-domains.index')" class="text-sm text-gray-700">
            {{$page.props.user.name}}
        </Link>
        <a v-if="!$page.props.user" :href="route('login')" class="flex items-center space-x-1 hover:text-gray-500"> 
            <svg class="hidden w-5 h-5 sm:inline" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path></svg>
            <span>Sign in</span>
        </a>
        <a v-if="!$page.props.user" :href="route('register')" class="inline-block px-5 py-2 font-semibold text-white rounded-lg bg-gradient-to-br from-indigo-600 to-indigo-700 hover:from-indigo-500 hover:to-indigo-700 ">Sign up</a>
    </nav>
  </header>
  <!--/ header block -->

  <div class="py-12 bg-gray-100 md:py-24">
    <div class="grid max-w-screen-xl px-6 mx-auto lg:px-8 xl:px-4 md:grid-cols-4 xl:grid-cols-5 gap-x-12 lg:gap-x-20">
      <div class="self-center order-2 col-span-2 mt-12 md:order-1 md:mt-0">
        <h1 class="mb-2 text-3xl font-bold text-gray-800 md:text-4xl lg:text-5xl md:mb-4 lg:mb-8">Forget about expiry. Let DomainSpot manage it for you.</h1>
        <p class="mb-6 text-lg text-gray-600 xl:text-xl lg:mb-8 xl:mb-10">All of your domain names, SSLs, and site uptime in one place. DomainSpot will keep them up to date and renew when you need it to, so you never have to worry again.</p>
        <div class="flex mb-6 space-x-4">
          <a :href="route('register')"  class="inline-block px-5 py-2 font-semibold text-white rounded-lg focus:outline-none bg-gradient-to-br from-indigo-600 to-indigo-700 hover:from-indigo-500 hover:to-indigo-700 ">Get started</a>
        </div>
      </div>
      <div class="order-1 col-span-2 md:order-2 xl:col-span-3">
        <img src="/images/screenshot.png" class="rounded-lg shadow-2xl" alt="">
      </div>
    </div>
  </div>

<div class="px-4 py-16 mx-auto bg-white w-full md:px-24 lg:px-8 lg:py-20">
  <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
    <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">
      Website Status Management for the Modern Website Owner.
    </h2> 
    <p class="text-base text-gray-700 md:text-lg">
      DomainSpot offers website owners a single dashboard to manage domain registration expiry, SSL certificate expiry and notifies you when any of your website's critical ports are not accepting connections.
    </p>
  </div> 
  <div class="grid max-w-screen-lg gap-8 row-gap-10 mx-auto lg:grid-cols-2">
    <div class="flex flex-col max-w-md sm:mx-auto sm:flex-row">
      <div class="mr-4">
        <div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full bg-indigo-100">
          <svg stroke="currentColor" viewBox="0 0 52 52" class="w-10 h-10 text-indigo-500">
            <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg>
        </div>
      </div> 
    <div>
      <h6 class="mb-3 text-xl font-bold leading-5 text-gray-900">
        All in one place.
      </h6> 
      <p class="mb-3 text-sm text-gray-700">
        No more logging into different systems or waiting on phone calls from your registrar to find out about expired domains or certificates - we do it all for you in one place!
      </p>
    </div>
  </div>
  <div class="flex flex-col max-w-md sm:mx-auto sm:flex-row">
    <div class="mr-4">
      <div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full bg-indigo-100">
        <svg stroke="currentColor" viewBox="0 0 52 52" class="w-10 h-10 text-indigo-500"><polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon></svg>
      </div>
    </div>
    <div>
      <h6 class="mb-3 text-xl font-bold leading-5 text-gray-900">
        Get back up and running fast.
      </h6>
      <p class="mb-3 text-sm text-gray-700">
        Our system notifies you immediately if there's an issue with your site so that you can get back up and running quickly - saving time, money and customer confidence.
      </p>
    </div>
  </div>
  <div class="flex flex-col max-w-md sm:mx-auto sm:flex-row">
    <div class="mr-4">
      <div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full bg-indigo-100">
        <svg stroke="currentColor" viewBox="0 0 52 52" class="w-10 h-10 text-indigo-500"><polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon></svg>
      </div>
    </div>
    <div>
      <h6 class="mb-3 text-xl font-bold leading-5 text-gray-900">
        FREE Domain &amp; SSL expiry notifcations, unlimited &amp; forever
      </h6>
      <p class="mb-3 text-sm text-gray-700">
        We check your domain name registration expiry and SSL expiry every 24 hours and notify you when it is close to expiry. And did we say you can utilize our system for free expiry notifications for unlimited domains and certificates? :)
      </p>
    </div>
  </div>
  <div class="flex flex-col max-w-md sm:mx-auto sm:flex-row">
    <div class="mr-4">
      <div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full bg-indigo-100">
        <svg stroke="currentColor" viewBox="0 0 52 52" class="w-10 h-10 text-indigo-500"><polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon></svg>
      </div>
    </div>
    <div>
      <h6 class="mb-3 text-xl font-bold leading-5 text-gray-900">
        Check website availability as frequent as every 30 seconds
      </h6>
      <p class="mb-3 text-sm text-gray-700">
        Unlike most providers, you can ping check your website at a frequency as low as 30 seconds even for the lowest plan!
      </p>
    </div>
  </div>
  <div class="flex flex-col max-w-md sm:mx-auto sm:flex-row">
    <div class="mr-4">
      <div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full bg-indigo-100">
        <svg stroke="currentColor" viewBox="0 0 52 52" class="w-10 h-10 text-indigo-500"><polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon></svg>
      </div>
    </div>
    <div>
      <h6 class="mb-3 text-xl font-bold leading-5 text-gray-900">
        Coming soon: Private/public status pages
      </h6>
      <p class="mb-3 text-sm text-gray-700">
        Track all your services on one page and publish it. You can even configure your own custom domain like status.yourdomain.com
      </p>
    </div>
  </div>
  <div class="flex flex-col max-w-md sm:mx-auto sm:flex-row">
    <div class="mr-4">
      <div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full bg-indigo-100">
        <svg stroke="currentColor" viewBox="0 0 52 52" class="w-10 h-10 text-indigo-500"><polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon></svg>
      </div>
    </div>
    <div>
      <h6 class="mb-3 text-xl font-bold leading-5 text-gray-900">
        Ping check Custom Ports on your server
      </h6>
      <p class="mb-3 text-sm text-gray-700">
        Apart from the regular ports we allow to ping check (FTP/S, HTTP/S, SMTP/S) you can check custom ports used by your application to ensure the ports are open and accepting connections.
      </p>
    </div>
  </div>
</div>
</div>
  
<div class="px-4 py-16 mx-auto w-full md:px-24 lg:px-8 lg:py-20 bg-white">
  <div class="p-8 rounded shadow-xl sm:p-16 max-w-6xl mx-auto">
    <div class="flex flex-col lg:flex-row">
      <div class="mb-6 lg:mb-0 lg:w-1/2 lg:pr-5">
      <h2 class="font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
          All our services are currently free during beta testing. 
      </h2>
      <h2 class="font-sans text-3xl mt-5 font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
          Domain expiry and SSL expiry checks are free forever for unlimited domains :)
      </h2>
      </div>
      <div class="lg:w-1/2">
        <p class="mb-4 text-base text-gray-700">
          During this beta testing phase all services are free. Once we decide to move out of beta, we will notify you at your registered email address 1 month before the cutoff date. From the cutoff date we will introduce paid plans which will be needed to access "ping" check features. However, the pricing would be as low as <strong>A$5 !</strong>.
        </p>
        <p class="mb-4 text-base text-gray-700">
          Even when out of beta, it is our promise to you that domain registration expiry checks and SSL expiry checks every 24 hours and any alerts for expiry checks are absolutely free for unlimited domains with no strings attached.
        </p>
      </div>
    </div>
  </div>
</div>

  
<div class="px-4 py-16 mx-auto w-full bg-white md:px-24 lg:px-8 lg:py-20"><div class="grid gap-6 row-gap-10 lg:grid-cols-2 max-w-6xl mx-auto"><div class="lg:py-6 lg:pr-16"><div class="flex"><div class="flex flex-col items-center mr-4"><div><div class="flex items-center justify-center w-10 h-10 border rounded-full"><svg stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24" class="w-4 text-indigo-500"><line fill="none" stroke-miterlimit="10" x1="12" y1="2" x2="12" y2="22"></line> <polyline fill="none" stroke-miterlimit="10" points="19,15 12,22 5,15"></polyline></svg></div></div> <div class="w-px h-full bg-gray-300"></div></div> <div class="pt-1 pb-8"><p class="text-gray-900 mb-2 text-lg font-bold">
            Keep your domains safe.
          </p> <p class="text-gray-700">
            DomainSpot monitors all of your domain names, SSL certificates and websites to ensure they are always up and running.
          </p></div></div> <div class="flex"><div class="flex flex-col items-center mr-4"><div><div class="flex items-center justify-center w-10 h-10 border rounded-full"><svg stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24" class="w-4 text-indigo-500"><line fill="none" stroke-miterlimit="10" x1="12" y1="2" x2="12" y2="22"></line> <polyline fill="none" stroke-miterlimit="10" points="19,15 12,22 5,15"></polyline></svg></div></div> <div class="w-px h-full bg-gray-300"></div></div> <div class="pt-1 pb-8"><p class="text-gray-900 mb-2 text-lg font-bold">
            We monitor your sites.
          </p> <p class="text-gray-700">
            You'll never have to worry about forgetting to renew a domain or checking the status of an SSL certificate again or not realising when your website goes down - we do it for you!
          </p></div></div> <div class="flex"><div class="flex flex-col items-center mr-4"><div><div class="flex items-center justify-center w-10 h-10 border rounded-full"><svg stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24" class="w-4 text-indigo-500"><line fill="none" stroke-miterlimit="10" x1="12" y1="2" x2="12" y2="22"></line> <polyline fill="none" stroke-miterlimit="10" points="19,15 12,22 5,15"></polyline></svg></div></div> <div class="w-px h-full bg-gray-300"></div></div> <div class="pt-1 pb-8"><p class="text-gray-900 mb-2 text-lg font-bold">
            We notify you when something goes wrong.
          </p> <p class="text-gray-700">
            Our automated system will alert you when there is a problem with any of your monitored services so that you can fix it before anyone notices! What more, you can choose frequency of checks and fault tolerance. Checks can be done up to as frequent as every 30 seonds.
          </p></div></div> <div class="flex"><div class="flex flex-col items-center mr-4"><div><div class="flex items-start justify-center w-10 h-10 border rounded-full"><svg stroke="currentColor" viewBox="0 0 24 24" class="mt-2 w-6 text-indigo-500"><polyline fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="6,12 10,16 18,8"></polyline></svg></div></div></div> <div class="pt-1 pb-8"><p class="text-gray-900 mb-2 text-lg font-bold">
            Keep track of domains, SSLs and websites at one place.
          </p> <p class="text-gray-700">
            Forget hunting through different emails or browser tabs - everything is in one place on our dashboard.
          </p></div></div></div> <div class="relative">
            <lottie-animation path="lotties/lf20_3jezq8s4.json" class="inset-0 object-cover object-bottom w-full rounded shadow-lg h-96 lg:absolute lg:h-full"></lottie-animation>
              <!-- <img src="https://images.pexels.com/photos/3184287/pexels-photo-3184287.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" alt="" class="inset-0 object-cover object-bottom w-full rounded shadow-lg h-96 lg:absolute lg:h-full"> -->
        </div></div></div>
  <!-- footer block -->
  
  <div class="px-4 py-16 mx-auto w-full md:px-24 lg:px-8 lg:py-20 bg-white"><div class="p-8 rounded shadow-xl sm:p-16 max-w-6xl mx-auto"><div class="flex flex-col lg:flex-row"><div class="mb-6 lg:mb-0 lg:w-1/2 lg:pr-5"><h2 class="font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
            Keep your websites safe and secure.
          </h2></div> <div class="lg:w-1/2"><p class="mb-4 text-base text-gray-700">
            DomainSpot is a web-based tool that helps you stay on top of all the important things that happen to your website. You can keep track of domain registration renewals, SSL certificate expiry, uptime status and more.
          </p> <a :href="route('register')" aria-label="" class="inline-flex items-center font-semibold transition-colors duration-200 text-indigo-500 hover:text-indigo-500">Get started for free!</a></div></div></div></div>

  <footer class="py-12 text-gray-600 bg-white xl:pb-24">
    <div class="max-w-screen-xl px-6 mx-auto mb-12 lg:px-8 xl:px-4 lg:mb-16">
      <jet-application-mark></jet-application-mark>
    </div>
    <div class="flex flex-col items-center justify-between max-w-screen-xl px-6 mx-auto mt-16 space-y-4 lg:px-8 xl:px-4 md:flex-row lg:mt-20">
      <div class="space-y-4 text-sm text-center md:space-y-1 md:text-left">
        <p>©2020 <a href="/">DomainSpot.net</a> / Mathew Paret. | All rights reserved</p>
        <p>Wisdom is easily acquired when hiding under the bed with a saucepan on your head.</p>
      </div>
      <a :href="route('register')" class="inline-block px-5 py-4 font-semibold text-white rounded-lg bg-gradient-to-br from-indigo-600 to-indigo-700 hover:from-indigo-500 hover:to-indigo-700 lg:px-8 md:transform md:-translate-y-2">Start free now</a>
    </div>
    <div class="flex flex-col items-center justify-between max-w-screen-xl px-6 mx-auto mt-8 space-y-4 lg:px-8 xl:px-4 md:flex-row lg:mt-12">
      <nav class="flex flex-wrap justify-center space-x-6"> 
        <Link :href="route('policy.show')" class="mb-2 text-sm hover:text-gray-700">Privacy</Link>
        <Link :href="route('terms.show')" class="mb-2 text-sm hover:text-gray-700">Terms of Service</Link>
      </nav>
    </div>
  </footer>
  <!--/ footer block -->

</main>
        
</template>


<script>
    import { Head, Link } from '@inertiajs/inertia-vue3';
    import LottieAnimation from "lottie-vuejs/src/LottieAnimation.vue";
    import JetApplicationMark from '@/Jetstream/ApplicationMark.vue';

    export default {
        components: {
            Head,
            Link,
            JetApplicationMark,
            LottieAnimation
        },

        props: {
            canLogin: Boolean,
            canRegister: Boolean,
            laravelVersion: String,
            phpVersion: String,
        }
    }
</script>
