<template>
    <img class="h-7 w-7 inline mr-2" :src="domain.favicon" alt="" v-if="domain.favicon">
    <span class="inline text-green-600 text-xl lower align-middle font-bold mr-1">{{domain.name}}</span>
    <svg xmlns="http://www.w3.org/2000/svg"  class="inline h-6 w-6 text-green-600" viewBox="0 0 24 24" fill="currentColor" v-if="domain.verified">
        <path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
    </svg>
    <span class="text-gray-400 text-sm"> / <slot></slot></span>
</template>
<script>
    export default {
        props: ['domain']   
    }
</script>