<template>
    <app-layout :title="'Manage '+domain.name">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Manage alerts
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <section-title>
                    <template #title>
                        <domain-title :domain=domain>Alerts</domain-title>
                    </template>
                </section-title>
            </div>
        </div>

        <div class="max-w-7xl mb-5 mx-auto sm:px-6 lg:px-8 bg-white rounded-xl p-6 shadow-md">
            <Link :href="route('my-domains.index')" class="mx-0 inline-flex items-center text-center px-6 py-2 border border-gray-300 text-xs uppercase shadow-sm font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                </svg> 
                <span class="ml-2">Back to my domains</span>
            </Link>
            <form>
                <information-box v-if="!domain.verified">You can configure alerts on custom ports once you verify that {{domain.name}} belongs to you. <Link :href="route('my-domains.verify', domain.id)" class="underline">Verify now</Link> </information-box>
                <span v-if="form.alerts.length">
                    <div class="col-span-6 sm:col-span-4 mt-4" v-for="(alert, index) in form.alerts" :key="alert">
                        <jet-label class="inline mt-2" value="Check"/>
                        <select v-if="!alert.id" @change="saveAlert(index)" v-model="alert.type" class="inline mt-2 ml-2 mr-2 border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm">
                            <option :value="type" v-for="([type, alert_options], t_index) in Object.entries(this.availableChecks)" :key="t_index">{{makeReadable(type)}}</option>
                        </select>
                        <span class="ml-2" v-else>{{makeReadable(alert.type)}}</span>
                        <span v-if="alert.type">
                            <div class="inline mt-2 ml-2" v-if="this.profile(alert.type).port">
                                on port
                                <jet-input @change="saveAlert(index)"  v-if="!this.profile(alert.type).port.length" type="number" min="1" max="65535" class="ml-2 mt-1 mr-2" v-model="alert.port"  />
                                <select @change="saveAlert(index)"  v-else-if="this.profile(alert.type).port.length > 1" v-model="alert.port" class="inline mt-2 ml-2 mr-2 border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm">
                                    <option :value="port" v-for="(port, port_index) in this.profile(alert.type).port" :key="port_index">{{port}}</option>
                                </select>
                                <span v-else>
                                    {{this.profile(alert.type).port[0]}}
                                    <input type="hidden" v-model="alert.port">
                                </span>
                            </div>
                            every
                            <select @change="saveAlert(index)"  v-if="this.profile(alert.type).frequency.length > 1" v-model="alert.frequency" class="inline mt-2 ml-2 mr-2 border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm">
                                <option :value="frequency" v-for="(frequency, f_index) in this.profile(alert.type).frequency" :key="f_index">{{frequency}}</option>
                            </select>
                            <span v-else>
                                {{this.profile(alert.type).frequency[0]}}
                                <input type="hidden" v-model="alert.frequency">
                            </span>
                            and notify
                            <select @change="saveAlert(index)"  v-model="alert.tolerance" class="inline mt-2 ml-2 mr-2 border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm">
                                <option :value="failures" v-for="([tolerance, failures], t_index) in Object.entries(this.profile(alert.type).tolerance)" :key="t_index">{{tolerance}}</option>
                            </select>
                        </span>
                        <button class="text-gray-400 inline ml-2 hover:text-red-600" @click.prevent="deleteAlert(index)">
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
                        </button>
                    </div>
                </span>
                <div class="col-span-6 sm:col-span-4 mt-4">
                    <button @click.prevent="this.newAlert()" class="px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-blue-700 rounded shadow-sm ripple hover:shadow-lg hover:bg-blue-800 focus:outline-none">New Alert</button>
                </div>
            </form>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout.vue'
    import SectionTitle from '@/Jetstream/SectionTitle.vue'
    import SectionBorder from '@/Jetstream/SectionBorder.vue'
    import { Link } from '@inertiajs/inertia-vue3';
    import JetButton from '@/Jetstream/Button'
    import JetSecondaryButton from '@/Jetstream/SecondaryButton'
    import JetInput from '@/Jetstream/Input'
    import JetCheckbox from '@/Jetstream/Checkbox'
    import JetInputError from '@/Jetstream/InputError'
    import JetLabel from '@/Jetstream/Label'
    import JetFormSection from '@/Jetstream/FormSection'
    import InformationBox from '@/Components/InformationBox'
    import DomainTitle from '@/Components/DomainTitle';

    export default {
        components: {
            AppLayout,
            SectionTitle,
            InformationBox,
            Link,
            SectionBorder,
            DomainTitle,
            JetSecondaryButton,
            JetFormSection,
            JetButton,
            JetInput,
            JetInputError,
            JetLabel,
            JetCheckbox,
        },
        props: ['domain', 'healthcheck', 'alerts'],
        data()
        {
            return {
                form: this.$inertia.form({
                        name: '',
                        alerts: [],
                    },
                    {
                        resetOnSuccess: false
                    },
                ),
            }
        },
        mounted()
        {
            this.form.alerts = this.alerts;
        },
        computed: {
            availableChecks()
            {
                var available_options = {};

                for(let [type, options] of Object.entries(this.healthcheck))
                {   
                    if(!options['needs_verification'] || (options['needs_verification'] && this.domain.verified))
                    {
                        if(!options['needs_registerable_domain'] || (options['needs_registerable_domain'] && this.domain.is_registerable))
                            available_options[type] = options;
                    }
                }
                return available_options;
            }
        },
        methods: {
            deleteAlert(index)
            {
                self = this;
                if(this.form.alerts[index].id)
                {
                    axios.delete(route('my-domains.alerts.destroy', [this.domain.id, this.form.alerts[index].id]))
                        .then(() => {
                            this.$notify({type: 'success', text: 'Alert deleted successfully'})
                            self.form.alerts.splice(index,1);
                        })
                        .catch((error) => {
                            this.$notify({type: 'error', text: 'Error deleting alert'})
                        });
                }
                else
                {
                    self.form.alerts.splice(index,1);
                }
            },
            profile(type)
            {
                return this.healthcheck[type];
            },
            newAlert()
            {
                this.form.alerts.push({
                    type: null,
                    frequency: null,
                    tolerance: null,
                    port: null,
                });
            },
            makeReadable(data)
            {
                if(data)
                    return data.replace(/_/g," ");
                else
                    return null;
            },
            saveAlert(index)
            {
                if(this.isExistingAlert(index)) 
                    this.updateExistingAlert(index);
                else if(this.isReadyToSubmit(this.form.alerts[index]))
                {
                    self = this;
                    axios.post(route('my-domains.alerts.store', [this.domain]), this.form.alerts[index])
                        .then((response) => {
                            this.$notify({type: 'success', text: 'New alert added - '+this.makeReadable(response.data.type)})
                            self.form.alerts[index] = response.data;
                        })
                        .catch((error) => {
                            console.error(error);
                            this.$notify({type: 'error', text: 'Error saving alert'});
                        });
                }

            },
            isReadyToSubmit(alert)
            {
                let port_pass = true;
                let frequency_pass = true;

                if(this.healthcheck[alert.type].port && this.healthcheck[alert.type].port.length > 1 && !alert.port)
                    port_pass = false;
                
                if(!alert.frequency && this.healthcheck[alert.type].frequency.length == 1)
                    frequency_pass = true;
                
                return alert.type 
                    && alert.tolerance
                    && port_pass
                    && frequency_pass;
            },
            isExistingAlert(index)
            {
                return this.form.alerts[index].id
            },
            updateExistingAlert(index)
            {
                self = this;

                axios.put(route('my-domains.alerts.update', [this.domain, this.form.alerts[index].id]), this.form.alerts[index])
                    .then((response) => {
                        this.$notify({type: 'success', text: "Alert updated - "+this.makeReadable(response.data.alert.type)});
                    })
                    .catch(() => {
                        this.$notify({type: 'error', text: "Error updating alert updated - "+this.makeReadable(response.data.alert.type)});
                    });
            },
            focusField()
            {
                this.$refs.name.focus();
            }

        }
    }
</script>
